.modal.bitready .modal-header
{	background-color: #005180;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #ffffff;
}

.modal .modal-body
{	padding: 15px 20px;
}

.modal .modal-body label.error-text
{   width: 75%;
}

.modal .modal-footer
{	background-color: #f5f5f5;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-top: 0px;
	padding: 12px 20px;
}